body
{
    background: #999;
}

.navbar{
    background-color: #000000 !important;
    color:white !important;
}

.navbar-brand{
    color:white !important;
}

.navbar-brand:hover{
    color: #FF0000 !important;
    transition: 500ms;
}